.box1{
  /* background-color: tomato; */
  background-color: #ff0000D9;

}


.box2{
  /* background-color: lime; */
  background-color: #0000ff;

}


.box3{
  background-color: #187968a4;
}


.box4{
  background-color: rgb(0, 0, 255, 0.5);

}


.box5{
 background-color: #ED8E93;
}


.box6{
  /* background-color: rgb(50, 150, 120); */
  background-color: hsl(240, 100%, 50%);
}