ul{
/* padding: 10px; */
/* list-style-type: circle;
list-style-position: inside;
list-style-type: "😎";
list-style-type: "\1F618"; */
list-style-type: none;


}

li{
  border: 2px solid darkorange;
  margin: 10px;
  border-radius: 10px;
  background-color: lightgreen;
  border-left: 7px solid gray;
  color: brown;

}

li::before{
  content: "❤️";
}

li::after{
  content: "😁";
}